body {
}

input[type="date"]:before {
    content: attr(placeholder) !important;
    color: #999;
    opacity: 1;
    margin-right: 0.5em;
  }
  input[type="date"]:focus:before,
  input[type="date"]:valid:before {
    content: "";
  }


  .create-form-input{
    display:block;
    margin: 0 auto;
    padding:20px;
    font-size:16px;
    width:90%
}

  .blueText{
    color:#489FDF;
}

  .orangeText{
      color:#fc951e;
  }
.purpleText{
    color:#b2579d;
}

.blue {
    background-color:#489FDF;
}

.createFormWrapper{
   margin-top:5vh;
}

.centerButton{
    display:block;
    width:auto;
    margin: 0 auto;
}
