body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Dashboard styles */

/*Dashboard left side col*/
.dashSideNav {
    float: left;
    display: block;
    padding-left: 0px;
    padding-right: 0px;
}

.btn-group-vertical > .btn:first-child:not(:last-child) {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}


.btn-group-vertical > .btn:last-child:not(:first-child) {
    border-bottom-right-radius: 0px;
}

.btn-primary {
    background-color: #5293cc;
}

.nextReward {
    background-color: #ba30ff;
    padding: 16px 4px 4px 4px;
    height: 284px;
    color: #fff;
}

    .nextReward .glyphicon {
        font-size: 3.5em;
    }

    .nextReward .progress {
        height: 54px;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        background-color: #743967;
    }

        .nextReward .progress .progress-bar h2 {
            margin-top: 12px;
        }

.progress {
    margin-top: 14px;
}

.alert {
    z-index: 45;
    position: absolute;
    margin: 80px auto 0px auto;
    right: 26%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.7);
}

.alert-info {
    color: #ffffff;
    background-color: #fc951e;
    border: none;
}

/*Dashboard right side col with family picture*/
.familyPictureFrame {
    float: right;
    display: block;
    background-color: #d7f1fe;
    height: 420px;
    padding-left: 0px;
    padding-right: 0px;
    /*background-image: url("Images/WCC_MD4_7400.jpg");*/
    background-size: cover;
    background-position: top;
}

.familyContent {
    padding: 0px;
    color: #fff;
}

    .familyContent h1 {
        background-color: rgba(50,50,50,.7);
        padding: 8px;
        margin: 0px;
        text-align: center;
    }

/*Connection table and Panel styles*/
.smallProfileImg {
    height: 40px;
}

.panel {
    margin-top: 5px;
}

    .panel .panel-primary {
        border-color: #5293cc;
    }

.panel-primary > .panel-heading {
    background-color: #5293cc;
    border-color: #5293cc;
}

.panel-body {
    padding: 15px 0px 0px 0px;
}

a:hover, a:focus {
    text-decoration: none;
}

.panel-heading h4 {
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 20px;
}


/* Family member cards*/

.memberCard {
    box-shadow: 0 3px 2px 0 rgba(0,0,0,0.3);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    border-bottom:solid 18px #fc951e;
    width: 200px;
    height: 340px;
    float: left;
    display: block;
    margin: 10px 5px 10px 5px;
    padding-right: 0px;
    padding-left: 0px;
}

    /* Add rounded corners to the top left and the top right corner of the image */
    .memberCard img {
        border-radius: 5px 5px 0 0;
    }

    .memberCard .container {
        padding: 2px 16px;
    }

.btn-success {
    background-color: #6fce34;
}
