@{
    ViewBag.Title = "About";
}

<div class="container">

    <h3>Meet The Team</h3>
    <div class="row">

        <div class="memberCard col-xs-12 col-md-6 col-lg-3" style="border-bottom:solid 18px #ba30ff">
            <img src="~/Content/Images/Dorrian.jpg" alt="Avatar" style="width:100%;">
            <div class="container">
                <h4><strong>Dorrian Horsey</strong></h4>
                <p><a href="https://github.com/dorrianhorsey"><i class="fa fa-github" style="font-size:30px" aria-hidden="true"></i> GitGub</a></p>
                <p><a href="https://www.linkedin.com/in/dorrianhorsey/"><i class="fa fa-linkedin-square" style="font-size:30px" aria-hidden="true"></i> LinkedIn</a></p>

            </div>
        </div>
        <div class="memberCard col-xs-12 col-md-6 col-lg-3" style="border-bottom:solid 18px #fc951e">
            <img src="~/Content/Images/Hope.jpg" alt="Avatar" style="width:100%">
            <div class="container">
                <h4><strong>Hope Love</strong></h4>
                <p><a href="https://github.com/HopeMorehead"><i class="fa fa-github" style="font-size:30px" aria-hidden="true"></i> GitHub</a></p>
                <p><a href="https://www.linkedin.com/in/hope-morehead/"><i class="fa fa-linkedin-square" style="font-size:30px" aria-hidden="true"></i> LinkedIn</a></p>
            </div>
        </div>

        <div class="memberCard col-xs-12 col-md-6 col-lg-3" style="border-bottom:solid 18px #ff5496">
            <img src="~/Content/Images/Tiffany.jpg" alt="Avatar" style="width:100%">
            <div class="container">
                <h4><strong>Tiffany Dixon</strong></h4>
                <p><a href="https://github.com/Mzdixon1"><i class="fa fa-github" style="font-size:30px" aria-hidden="true"></i> GitHub</a></p>
                <p><a href="http://linkedin.com/in/tiffany-dixonicancode1111"><i class="fa fa-linkedin-square" style="font-size:30px" aria-hidden="true"></i> LinkedIn</a></p>
            </div>
        </div>

        <div class="memberCard col-xs-12 col-md-6 col-lg-3" style="border-bottom:solid 18px #6fce34">
            <img src="~/Content/Images/Russ.jpg" alt="Avatar" style="width:100%">
            <div class="container">
                <h4><strong>Russ Petrus</strong></h4>
                <p><a href="https://github.com/russpetrus"><i class="fa fa-github" style="font-size:30px" aria-hidden="true"></i> GitHub</a></p>
                <p><a href="https://www.linkedin.com/in/russellpetrus"><i class="fa fa-linkedin-square" style="font-size:30px" aria-hidden="true"></i> LinkedIn</a></p>
            </div>
        </div>

        <div class="memberCard col-xs-12 col-md-6 col-lg-3" style="border-bottom:solid 18px #5293cc">
            <img src="~/Content/Images/Luis.jpg" alt="Avatar" style="width:100%">
            <div class="container">
                <h4><strong>Luis Cabrera</strong></h4>
                <p><a href="https://github.com/loudigi"><i class="fa fa-github" style="font-size:30px" aria-hidden="true"></i> GitHub</a></p>
                <p><a href="https://www.linkedin.com/in/loudigi/"><i class="fa fa-linkedin-square" style="font-size:30px" aria-hidden="true"></i> LinkedIn</a></p>
            </div>
        </div>
    </div>
</div>