@{
    ViewBag.Title = "Contact";
}
@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@


<link href="~/Content/FamConnect.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Gorditas|Raleway" rel="stylesheet">




@*<h2>Family Connect FAQ</h2>*@

  <div class="container">
      <section>

          <div class="page-header" id="features">

              <h2> Family Connect FAQ</h2>
          </div><!--End page Header-->

          <div class="panel-group" id="accordion">
              <div class="<panel panel-default">
                  <div class="panel-heading">
                      <div class="panel-title">
                          <a href="#collapse-1" data-toggle="collapse" data-parent="#accordion">
                              What is the purpose of Family Connect?
                          </a>

                      </div><!-- End panel title-->
                      <div id="collapse-1" class="panel-collapse collapse in">
                          <div class="panel-body">

                              Family Connect helps busy families be intentional about promoting family unity in a fun and easy way.  Family members can earn points toward a family reward by completing acts of kindness for each other called “Connection Actions” and having the Team Captain log them into the app.

                          </div>
                      </div><!--End panel collapse-->
                  </div>
              </div>


              <div class="<panel panel-default">
                  <div class="panel-heading">
                      <div class="panel-title">
                          <a href="#collapse-2" data-toggle="collapse" data-parent="#accordion">
                              How do we get started with Family Connect?
                          </a>

                      </div><!-- End panel title-->
                      <div id="collapse-2" class="panel-collapse collapse">
                          <div class="panel-body">

                              <h5>Step One</h5>Select a family member to be the Team Captain.  We suggest a parent or another adult serve as the Team Captain since this family member will be responsible for managing the family’s activity within the app.

                              The Team Captain can then create an account and register your family. Don't worry if you forget someone.  You can add new family members at any time!

                              <h5>Step Two</h5>
                              <p>
                                  Set the first family Milestone.  A Milestone is set when the Team Captain selects a point goal and enters a Family Reward that will be earned when that Milestone is achieved.  We recommend that the first Milestone be a point goal that is achievable for your family within two weeks. For example, if a family has four members who are actively earning points, the first Milestone might be set at a point level of 50. Possible rewards might include a family trip for ice cream or a family game night.  The goal with each Connection Action and Family Milestone is to encourage positive family interaction that reinforces family unity.

                              </p>
                              <h5>Step Three</h5>
                              <p>Start logging connection actions. Each family member should complete acts of kindness toward each other called Connection Actions.The Team Captain can then log these connection activities into the app and assign a point value to each action. The Team Captain should select a value between 1-10 points for each Connection Action. These points will be tracked by the app until your family reaches the point goal designated for the first Milestone.  The app will then prompt you to set the next milestone and you can keep connecting!</p>
                          </div>
                      </div><!--End panel collapse-->
                  </div>
              </div>

              <div class="<panel panel-default">
                  <div class="panel-heading">
                      <div class="panel-title">
                          <a href="#collapse-3" data-toggle="collapse" data-parent="#accordion">
                              Can you share an example of how a family might use the app?
                          </a>

                      </div><!-- End panel title-->
                      <div id="collapse-3" class="panel-collapse collapse">
                          <div class="panel-body">
                              The Smith family has four members. They set their first Milestone at a point goal of 50 points and decide on a Family Reward of a trip to the local ice-cream shop once the Milestone is reached.  Over the next two weeks, the Smiths each complete several Connection Actions toward one another to earn the points.  Connection Actions can be as simple as reading to a sibling or more involved activities like working together for several days to complete an intricate jigsaw puzzle. The Team Captain logs each Connection Action into the app and assigns it a point value ranging from 1-10. When the family point total reaches 50, the Smiths have reached their first Milestone and the app will prompt them to celebrate with their first Family Reward.

                          </div>
                      </div><!--End panel collapse-->
                  </div>
              </div>
              <div class="<panel panel-default">
                  <div class="panel-heading">
                      <div class="panel-title">
                          <a href="#collapse-4" data-toggle="collapse" data-parent="#accordion">
                              How many people can we add as family members on Family Connect?
                          </a>

                      </div><!-- End panel title-->
                      <div id="collapse-4" class="panel-collapse collapse">
                          <div class="panel-body">
                              Start with two and add as many people as you believe can regularly complete connection actions for the other family members in the group. We would recommend starting with your immediate family and building from there.
                          </div>
                      </div><!--End panel collapse-->
                  </div>
              </div>

              <div class="<panel panel-default">
                  <div class="panel-heading">
                      <div class="panel-title">
                          <a href="#collapse-5" data-toggle="collapse" data-parent="#accordion">
                              Does my family need a separate account for each family member?
                          </a>

                      </div><!-- End panel title-->
                      <div id="collapse-5" class="panel-collapse collapse">
                          <div class="panel-body">
                              No. The team captain should add all family members to one family account.
                          </div>
                      </div><!--End panel collapse-->
                  </div>
              </div>


              <div class="<panel panel-default">
                  <div class="panel-heading">
                      <div class="panel-title">
                          <a href="#collapse-6" data-toggle="collapse" data-parent="#accordion">
                              What is a Connection Action?
                          </a>

                      </div><!-- End panel title-->
                      <div id="collapse-6" class="panel-collapse collapse">
                          <div class="panel-body">
                              A Connection Action is an act of kindness that a family member completes for another family member and then reports to the Team Captain to log into the app.  Connection Actions can be anything family members do that builds family unity.
                          </div><!--End panel collapse-->
                      </div>
                  </div>

                  <div class="<panel panel-default">
                      <div class="panel-heading">
                          <div class="panel-title">
                              <a href="#collapse-7" data-toggle="collapse" data-parent="#accordion">
                                  How are points earned and logged into the app?
                              </a>

                          </div><!-- End panel title-->
                          <div id="collapse-7" class="panel-collapse collapse">
                              <div class="panel-body">
                                  Family members can earn points by completing acts of kindness called Connection Actions for one another. Once the Connection Action is completed, the Team Captain can log it into the app and assign it a point total between 1-10.  We encourage the Team Captain to consider factors such as the degree of difficulty, the age of the family member, the size of the family and the points needed to reach the next Milestone when assigning a point value to each Connection Action.  Individual family members can each earn points for participating in the same Connection Action. For example, if the family attends an activity to support the participation of a family member, each family member should receive points.
                              </div>
                          </div><!--End panel collapse-->
                      </div>
                  </div>


                  <div class="<panel panel-default">
                      <div class="panel-heading">
                          <div class="panel-title">
                              <a href="#collapse-8" data-toggle="collapse" data-parent="#accordion">
                                  What is a Milestone?
                              </a>

                          </div><!-- End panel title-->
                          <div id="collapse-8" class="panel-collapse collapse">
                              <div class="panel-body">
                                  A Milestone is a set point total that family members achieve by completing acts of kindness called Connection Actions. Each family member completes their own Connection Actions that are then logged into the app and assigned a point value by the Team Captain. Once the total points earned by the family reach the point total set for the next Milestone, the app will alert the family that the Milestone has been reached and the family has earned the right to celebrate with the family reward they’ve chosen.

                              </div>
                          </div><!--End panel collapse-->
                      </div>
                  </div>


                  <div class="<panel panel-default">
                      <div class="panel-heading">
                          <div class="panel-title">
                              <a href="#collapse-9" data-toggle="collapse" data-parent="#accordion">
                                  Does Family Connect track progress over time?
                              </a>

                          </div><!-- End panel title-->
                          <div id="collapse-9" class="panel-collapse collapse">
                              <div class="panel-body">
                                  Yes! The app will track the family’s point total toward the current Milestone and show how many Milestones the family has reached.
                              </div>
                          </div><!--End panel collapse-->
                      </div>
                  </div>


                  <div class="<panel panel-default">
                      <div class="panel-heading">
                          <div class="panel-title">
                              <a href="#collapse-10" data-toggle="collapse" data-parent="#accordion">
                                  My family has run out of Connection Action ideas. Can you share some examples?
                              </a>

                          </div><!-- End panel title-->
                          <div id="collapse-10" class="panel-collapse collapse">
                              <div class="panel-body">
                                  <p>
                                      Here are some possible Connection Action ideas...the list is endless:
                                      Read to a sibling. Attend a religious service as a family. Attend an activity a family member is involved in like a sporting event, a concert, a theater production etc. Help a family member complete a set of flashcards.
                                  </p>
                                  <p>Help a family member prepare a meal. Write a letter to a family member. Play catch with a family member. Create a video for a family member that includes a loving message. Interview an older family member about their life and create a family project related to what you learn. 
                                  Tie dye tee-shirts together. Create a family greeting card or newsletter and mail it to family and friends at a time of year that isn’t associated with a holiday. </p>
                                  <p>Write a family mission statement or motto and memorize it. Visit a local park and play a game of kickball or frisbee with your family. Write a family theme song and perform it as a group. Bake together. Write a kind note and put it in under a family member’s pillow.  Work in your garden as a family. Make a collage of family pictures to frame or hang on the refrigerator.   Do a family role swap and dress like another family member for a day. Create a family tree. Volunteer as a family.  Complete a family craft together.  Create a family painting of everyone’s handprints and frame it.</p>

                              </div>
                          </div><!--End panel collapse-->
                      </div>
                  </div>


                  <div class="<panel panel-default">
                      <div class="panel-heading">
                          <div class="panel-title">
                              <a href="#collapse-11" data-toggle="collapse" data-parent="#accordion">
                                  My family has run out of Family Reward ideas.  Can you share some examples?
                              </a>

                          </div><!-- End panel title-->
                          <div id="collapse-11" class="panel-collapse collapse">
                              <div class="panel-body">
                                  Here are some possible Famliy Reward ideas...(you know your family best so be creative):
                                  A trip for ice cream, a trip to the zoo, dress up night, movie night, family campout in the living room or backyard, family game night, trip to an amusement park, a week of kids choice for dinner!  You get the point- a Family Reward doesn't have to be expensive. Just a planned activity that involves all familly members!
                              </div>
                          </div><!--End panel collapse-->
                      </div>
                  </div>





              </div><!--End panel group-->

      </section>


  </div> @*End container*@

















 